data/
config/
pyproject.toml
poetry.lock
.vscode/
__pycache__/
logs/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.pytest_cache/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
docs/_build/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
pip-log.txt
pip-delete-this-directory.txt
workspace.code-workspace
data/
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/0N_states/01_state_F_999.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/0N_states/03_state_F_998.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_hex_+X_Delta_0.306_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.175_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.175_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.219_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.219_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.262_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.262_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.306_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.306_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.350_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_minus_Z_delta_0.350_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.175_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.175_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.219_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.219_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.262_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.262_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.306_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.306_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.350_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Y_delta_0.350_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.175_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.175_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.219_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.219_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.262_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.262_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.306_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.306_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.350_F_98.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/GKP_states/GKP_plus_Z_delta_0.350_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/fock_states/fock_1_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/fock_states/fock_2_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/fock_states/fock_3_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/fock_states/fock_4_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/fock_states/fock_5_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/kitten_code_states/state_+X_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/kitten_code_states/state_+Y_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/kitten_code_states/state_+Z_F_99.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_6_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_8_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_10_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_12_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_14_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_15_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/s_16_dB.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_1.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_2.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_3.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_4.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_5.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_6.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_7.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_8.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_9.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_10.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_11.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_12.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_13.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_14.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_15.000_db.npz
qcrew/measure/ECD_control/ECD_control/ECD_circuits/state_prep/squeezed_states/squeeze_16.000_db.npz
